<a href="https://colab.research.google.com/github/ahkhaider-10/Data-Science/blob/main/Haider's_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NIFTY 50.csv')
data.drop('Turnover', axis = 1, inplace = True)
data

,Date,Open,High,Low,Close,Volume,P/E,P/B,Div Yield
0,2000-01-03,1482.15,1592.90,1482.15,1592.20,25358322,25.91,4.63,0.95
1,2000-01-04,1594.40,1641.95,1594.40,1638.70,38787872,26.67,4.76,0.92
2,2000-01-05,1634.55,1635.50,1555.05,1595.80,62153431,25.97,4.64,0.95
3,2000-01-06,1595.80,1639.00,1595.80,1617.60,51272875,26.32,4.70,0.94
4,2000-01-07,1616.60,1628.25,1597.20,1613.30,54315945,26.25,4.69,0.94
...,...,...,...,...,...,...,...,...,...
5348,2021-07-01,15755.05,15755.55,15667.05,15680.00,224921644,28.26,4.23,1.27
5349,2021-07-02,15705.85,15738.35,15635.95,15722.20,254808999,28.33,4.24,1.23
5350,2021-07-05,15793.40,15845.95,15762.05,15834.35,207032153,28.53,4.27,1.23
5351,2021-07-06,15813.75,15914.20,15801.00,15818.25,391410742,28.50,4.26,1.10
5352,2021-07-07,15819.60,15893.55,15779.70,15879.65,329308646,28.62,4.28,1.10